//body color
$color-dark: rgb(178, 186, 194);
$background-dark-body: rgb(0, 30, 60);
$background-light-body: #edf3f7;

// color palete
$color-primary: rgb(231, 235, 240);
$color-seconday: rgb(51, 153, 255); // use in _layout
$color-seconday-varient: #22525d; // use in _layout
$color-white: #fff;
$gray_bg: rgba(71, 98, 130, 0.2);
$dark_bg: rgba(71, 98, 130, 0.8);

$color-dark_a: rgb(3, 3, 3);
$color-info-dark: rgba(255, 255, 255, 0.8);
$color-warning-dark: #d5ab13;

$color-info-light: #f1f1f1;
$color-background-dark: rgba(10, 25, 41, 0.7);
$color-background-light: #cac8ebb3;
$drawer-mob-background-light: #cac8eb;

$transition: all 0.3s ease-in-out;

// sidebar
$sidebar-width: 256px;
$sidebar-width-togle: 68px;
$border-side-nav: rgba(194, 224, 255, 0.08);
$hover-side-nav: rgba(255, 255, 255, 0.08);

// topbar
$top-bar-height: 52px;

// card
$card-bg-dark: #132f4c;
$card-shadow-dark: unset;

$card-shadow-light: 0 0 5px 0 #c6cadb;
$card-bg-light: #cac8eb;

// border
$border-radius-1: 10px;
$border-dark-1: 1px solid rgb(30, 73, 118);

$border-light-1: 1px solid transparent;

// datatables
$row_bg_dark: #1c2e45;
$row_even_bg_dark: #17283e;
$header_bg_dark: #172839;
$row_color_dark: #ffffffcc;

$row_bg_light: #fff;
$row_even_bg_light: #eeebeb;
$header_bg_light: rgb(226, 223, 223);
$row_color_light: #132f4c;


// overlay
$overlay_bg_light: #807e7e91;
