.ag-root-wrapper-body {
    &.ag-layout-normal {
        height: 100%;
        min-height: auto;
    }
}

.ag-theme-alpine-dark {
    max-height: 400px;

    .ag-root {
        background-color: $row_bg_dark;
    }
    .ag-root-wrapper {
        border-radius: $border-radius-1;
        border: $border-dark-1;
    }
    .ag-header-viewport {
        background-color: $header_bg_dark;
        .ag-header-row {
            &.ag-header-row-column {
                color: $row_color_dark;
            }
        }
    }
    .ag-row {
        background-color: $row_bg_dark;
        color: $row_color_dark;
        border-bottom: 0;
        &:nth-child(even) {
            background: $row_even_bg_dark;
        }
    }
    .ag-header {
        position: sticky;
        top: 0;
    }
    .ag-menu {
        background-color: $row_bg_dark;
    }
    .ag-header-cell-moving {
        background-color: $row_bg_dark !important;
    }
    &.ag-unselectable.ag-dnd-ghost {
        background-color: $row_bg_dark !important;
    }
    .ag-body-viewport {
        max-height: 330px;
    }
}

// theme
.ag-theme-alpine {
    max-height: 400px;

    .ag-root {
        background-color: $row_bg_light;
    }
    .ag-root-wrapper {
        border-radius: $border-radius-1;
        border: $border-light-1;
    }
    .ag-header-viewport {
        background-color: $header_bg_light;
        .ag-header-row {
            &.ag-header-row-column {
                color: $row_color_light;
            }
        }
    }
    .ag-row {
        background-color: $row_bg_light;
        color: $row_color_light;
        border-bottom: 0;
        &:nth-child(even) {
            background: $row_even_bg_light;
        }
    }
    .ag-header {
        position: sticky;
        top: 0;
    }
    .ag-menu {
        background-color: #1c2e45;
    }
    .ag-header-cell-moving {
        background-color: $row_bg_light !important;
    }
    &.ag-unselectable.ag-dnd-ghost {
        background-color: $row_bg_light !important;
    }
    .ag-body-viewport {
        max-height: 330px;
    }
}
